.card{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
.linkButton {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #101310;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }

  .btn {
    background-color: red;
    color: black;
    cursor: pointer;
   /* position: absolute; */
   right: 0;
   padding: 10px;
   
}
